* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
:root {
    --bg--dark: #0E0F1C;
    --bg--card: #564B4B;
    --bg--plans: #151E30;
    --primary-color: #6177FA;
    --text--main: #fff;
    --transition: all 0.3s ease;
}
 
html {
    scroll-behavior: smooth;
}
 
body {
    font-family:'Montserrat', 'sans-serif';
    background-color: var(--bg--dark);
    color: var(--text--main);
    line-height: 1.6;
    overflow-x: hidden;
}
 
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
 
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgba(15, 17, 26, 0.95);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #2a2d3e;
}
 
.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
 
.logo {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -1px;
}
 
.logo span {
    color: var(--primary-color);
}
 
.nav_menu ul {
    display: flex;
    list-style: none;
}
 
.nav_menu ul li a {
    color: var(--text--main);
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.9rem;
    transition: var(--transition);
}
 
.nav-menu ul li a:hover {
    color: var(--primary-color);
}
 
.btn {
    padding: 10px 22px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    transition: var(--transition);
    display: inline-block;
}
 
.btn-neon {
    background: linear-gradient(90deg, #6366f1, #3b82f6, #2dd4bf);
    color: var(--text--main);
    box-shadow: 0 4px 15px rgba(123, 47, 247, 0.3);
}
 
.btn-neon:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(123, 47, 247, 0.5);
}
 
.btn-outilne {
    border: 1px solid var(--primary-color);
    color: var(--text--main);
}
 
.btn-outilne:hover {
    background-color: rgba(123, 47, 247, 0.5);
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(123, 47, 247, 0.5);
}
 
.hero{
    padding: 100px 0;
    min-height: calc(100vh -80px);
    display: flex;
    align-items: center;
}
 
.grid-hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
 
.text-gradiente {
  background-image: linear-gradient(90deg, #4f46e5, #22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.hero-text h1{
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 20px;
}
.hero-text p{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.658);
    margin-bottom: 30px;
    max-width: 500px;
   
}
 
.card-mokup{
    border-radius: 20px;
    position: relative;
}
 
.card-mokup img{
    width: 100%;
}
 
@media (max-width: 992px) {
    .nav-menu, .nav_btn {
        display: none;
    }
}
 